
# udev write access
KERNEL=="uinput", SUBSYSTEM=="misc", TAG+="uaccess", OPTIONS+="static_node=uinput"

# more stuff stolen from steam-input udev
# KERNELS=="input*", ENV{ID_BUS}!="", \
#        IMPORT{builtin}="hwdb 'joystick:$env{ID_BUS}:v$attr{id/vendor}p$attr{id/product}:name:$attr{name}:'", \
#        GOTO="joystick_end"

KERNELS=="input", ENV{ID_BUS}!="", SUBSYSTEM="input", ENV{ID_INPUT_TOUCHPAD}=="1", MODE="0660", TAG+="uaccess"
